<div class="pagecontainer">
  <div class="pageHome">
    <a href="https://github.com/mastefano64/AppGaugeLevel" target="_blank">Github project</a><br>
    <a href="https://github.com/mastefano64/AppGaugeLevel/blob/main/README.md" target="_blank">Readme-EN</a><br>
    <a href="https://github.com/mastefano64/AppGaugeLevel/blob/main/README-IT.md" target="_blank">Readme-IT</a><br>
  </div>

  <!-- <div class="progressId1">
    <div class="progressContainer1">
      <div class="progressBar1">
      </div>
      <div class="progressTextInside1">
        50%
      </div>
    </div>
  </div>

  <br><br>

  <div class="progressId2">
    <div class="progressContainer2">
      <div class="progressBar2">
      </div>
      <div class="progressTextInside2">
        50%
      </div>
    </div>
  </div>

  <br><br>

  <div class="progressId3">
    <div class="progressContainer3">
      <div class="progressBar3Level">
      </div>
      <div class="progressBar3Level">
      </div>
      <div class="progressBar3Level">
      </div>
      <div class="progressBar3Level">
      </div>
      <div class="progressTextInside3">
        50%
      </div>
    </div>
  </div>

  <br><br>

  <div class="progressId4">
    <div class="progressContainer4">
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressBar4Level">
      </div>
      <div class="progressTextInside4">
        50%
      </div>
    </div>
  </div> -->
</div>
