.panelButtons {
  text-align: center;
  padding: 10px;
}

.gauge1 {
  //width: 400px;
  height: 100%;
}

.gauge2 {
  //width: 400px;
  height: 600px;
}

.gauge2Text {
  font-size: 22px;
  font-weight: bold;
}

.gauge2 ::ng-deep .progrssAlertLevelPercOnStep {
  font-size: 18px;
  font-weight: bold;
}
