<div class="pagecontainer">
  <h2>Page-7</h2>

  <p>
    <a href="https://github.com/mastefano64/AppGaugeLevel/blob/main/src/app/component/page07/page07.component.html" target="_blank">
      page07.component.html
    </a>
    &nbsp;&nbsp;
    <a href="https://github.com/mastefano64/AppGaugeLevel/blob/main/src/app/component/page07/page07.component.ts" target="_blank">
      page07.component.ts
    </a>
  </p>

  <div class="gauge1">
    <app-gauge-level [options]=" options1" [valueLevel]="valueLevel()">
    </app-gauge-level>
  </div>

  <br>

  <div class="gauge2">
    <app-gauge-level [options]=" options2" [valueLevel]="valueLevel()">
    </app-gauge-level>
  </div>
</div>
