.panelButtons {
  text-align: center;
  padding: 10px;
}

.gauge1 {
  //width: 400px;
  height: 100%;
}

.gauge2 {
  //width: 400px;
  height: 400px;
}

.linearvalue {
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
